td {
	border: 1px solid black;
}

#container-grid {
	display: grid;
	height: 98vh; /* less than 100 because of scroll bars? */
}

#browser {
	display: grid;
	overflow-x: scroll;
}

@media (min-width: 50em) {
	#container-grid {
		grid-template-rows: repeat(3, auto);
	}
	#browser {
		grid-template-columns: repeat(4, auto);
	}
}

@media (max-width: 50em) {
	#container-grid {
		grid-template-rows: repeat(2, auto) 7em;
	}
	#browser {
		grid-template-columns: repeat(4, 95vw);
	}
}

.panel {
	display: inline-block;
	border: 1px solid black;
	overflow-y: scroll;
}

#results-list, #queue-list, .item {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.item div {
	display: inline-block;
}

.item-checkbox-container {
	width: 2em;
}

.item-summary {
	width: calc(100% - 2em);
}

.link-to-detail {
	text-align: left;
	background-color: inherit;
	color: blue;
	text-decoration: underline;
	font-size: 1em;
	border: 0;
	padding: 0;
}

.link-to-detail:hover {
	color: teal;
}

#next-page-link {
	float: right;
}

#item-attributes {
	max-width: 100%;
	margin: 0 auto;
}

#item-image {
	max-width: 100%;
	max-height: 50%;
	display: block;
	margin: 0 auto;
}

#player .item {
	display: inline-block;
	border: 1px solid black;
}
